<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>My Lists</h1>
            <table>
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Number of items</th>
                  </tr>
                </thead>
                <tbody>
                  {% for todo_list in todo_lists %}
                    <tr>
                      <td>
                        <a href= "{% url 'show_list' todo_list.id %}"> {{ todo_list.name }} 
                      <td>
                        {{todo_list | length }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>


            </table>

        </div>
    </main>
</body>
</html>